$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #ffffff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-dar-2: #999;
$color-secondary-dark-3: #333;

$color-tertairy-light: #2998ff;
$color-tertairy-dark: #5643fa;

//Grid

$col-1: 1;
$col-2: 2;
$col-3: 3;
$col-4: 4;
