.u-mb-8 {
  margin-bottom: 8rem;
}
.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mt-8 {
  margin-top: 8rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-pt-8 {
  margin-top: 8rem;
}

.u-pt-10 {
  margin-top: 10rem;
}

.u-mt-20 {
  margin-top: 20rem;
}

.u-mb-sm {
  margin-bottom: 1.5rem;
}

.u-pl-2 {
  margin-left: 2rem;
}

.u-pl-4 {
  padding-left: 4rem;
}

.u-pl-8 {
  padding-left: 8rem;
}

.u-pb-8 {
  padding-bottom: 8rem;
}

.u-pr-2 {
  padding-right: 2rem;
}

.u-pr-4 {
  padding-right: 4rem;
}

.u-pr-8 {
  padding-right: 8rem;
}

.u-text-center {
  text-align: center;
}

.u-gap-2 {
  gap: 2rem;
}

.u-gap-3 {
  gap: 3rem;
}

.u-gap-4 {
  gap: 4rem;
}

.u-gap-5 {
  gap: 5rem;
}

.u-gap-6 {
  gap: 6rem;
}

.u-gap-8 {
  gap: 8rem;
}
